[submodule "vendor/Spew3D"]
	path = vendor/Spew3D
	url = https://codeberg.org/Spew3D/Spew3D
    ignore = untracked
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
    ignore = dirty
[submodule "vendor/Spew3D-Web"]
	path = vendor/Spew3D-Web
	url = https://codeberg.org/Spew3D/Spew3D-Web
